main {
    display: flex;
}

.left-column {
    display: flex;
    flex-wrap: wrap;
}

img {
    border: .5rem black solid;
    margin: .25rem;
}

.right-column {
    visibility: hidden;
    width: 330px;
    float: right;
    text-align: center;
    align-content: center;
}

.right-column h2, p {
    margin: 0 initial;
}

img {
    object-fit: contain;
}

#a-display {
    font-size: 1.25rem;
    padding: .5rem;
}

